principal {
    width: 900px;
    background: black;
    margin: 0;
    padding: 0 20px;
    text-align: justify;
}

titulo {
    color: red;
}

textinho {
    color: white;
}

imagem {
    width: 1300;
    height: 1200;

}