.principal {
    width: 100%;
    background-color: black;
    text-align: justify;
    color: red;
    padding: 10 10px;
}

.titulo{
    text-align: center;
}

.textinho {
    color: white;
    text-align: center;
    font-size: large;
}

.imagem1 {
    text-align: center;
}

.imagem2 {
    text-align: center;
}
